// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #EEEEEE;
}

blockquote {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  max-height: 100vh;

  font-family: Charter, Bitstream Charter, serif;

  padding-top: 25vh;

  > p {
    flex: 1;
    font-size: 53px;
    line-height: 64px;
    &:after {
      content: " ¶";
      opacity: .3;
    }
  }

  footer {
    height: 25vh;
    font-size: 40px;
    line-height: 48px;
    text-align: right;

    display: flex;
    flex-direction: column;

    .meta {
      font-size: 27px;
      line-height: 32px;
      opacity: .75;
      margin-top: auto;
    }
  }
}
