// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #EEEEEE;
  padding: 0 5vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.quote {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;

  .number {
    flex: 0 1;
    height: 25vh;
    font-weight: 700;
    text-align: center;
  }

  blockquote {
    display: grid;
    flex-flow: column nowrap;
    height: 75vh;
    max-height: 75vh;

    grid-template-rows: 25vh 25vh 25vh;

    grid-template-areas:
    "text"
    "blank"
    "footer";

    font-family: Charter, Bitstream Charter, serif;

    > p {
      grid-area: text;
      &:after {
        content: " ¶";
        opacity: .3;
      }
    }

    footer {
      grid-area: footer;
      text-align: right;

      display: flex;
      flex-direction: column;

      .meta {
        opacity: .75;
        margin-top: auto;
      }
    }
  }
}


@mixin font-size($number) {
  $line-height: ceil($number * 16px);
  $font-size: ceil($line-height/1.4);

  font-size: $font-size;
  line-height: $line-height;
}


.quote-text {
  @include font-size(2);
}

.number {
  @include font-size(1.5);
}

.author, .work-title {
  @include font-size(1.5);
}

.meta {
  @include font-size(1);
}
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
.quote-text {
  @include font-size(3);
}

.number {
  @include font-size(2);
}

.author, .work-title {
  @include font-size(2);
}

.meta {
  @include font-size(1.5);
}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
.quote-text {
  @include font-size(4);
}

.number {
  @include font-size(2.5);
}

.author, .work-title {
  @include font-size(2.5);
}

.meta {
  @include font-size(1.5);
}
     
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}
