// Place all the styles related to the quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #EEEEEE;
  padding: 0 5vw;
}

* {
  padding: 0;
  margin: 0;
}

.quote {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;

  .number {
    flex: 0 1;
    height: 25vh;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 16px;
  }

  blockquote {
    display: grid;
    flex-flow: column nowrap;
    height: 75vh;
    max-height: 75vh;

    grid-template-rows: 25vh 25vh 25vh;

    grid-template-areas:
    "text"
    "blank"
    "footer";

    font-family: Charter, Bitstream Charter, serif;

    > p {
      grid-area: text;
      font-size: 7vh;
      line-height: 10vh;
      &:after {
        content: " ¶";
        opacity: .3;
      }
    }

    footer {
      grid-area: footer;
      font-size: 4vh;
      line-height: 6vh;
      text-align: right;

      display: flex;
      flex-direction: column;

      .meta {
        font-size: 2vh;
        line-height: 3vh;
        opacity: .75;
        margin-top: auto;
      }
    }
  }
}
